* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
}

.main-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .main-container {
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2);
  }
}

.flexed-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexed-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.verticalCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacedBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexed-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.selfJustifyLeft {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login-box {
  width: 100%;
}

@media (min-width: 768px) {
  .login-box {
    width: 40%;
  }
}

.full-height-width {
  height: 100vh;
  width: 100vw;
}

.fullHeightWidth {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  border: 1px solid #40aaaa;
  padding: 1rem 1rem;
  border-radius: 2px;
  margin: 2rem 0;
}

input:focus {
  outline: none !important;
  border: 1px solid #00646e;
}

textarea {
  border: 1px solid #40aaaa;
  padding: 1rem 1rem;
  border-radius: 2px;
  margin: 2rem 0;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #00646e;
}

.signupForm {
  width: 100vw;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .signupForm {
    width: 40vw;
  }
}

.signupForm input {
  width: 100%;
}

h1 {
  color: #00646e;
}

button {
  text-transform: uppercase;
  background-color: #40aaaa;
  color: white;
  padding: 1rem;
  border: 0;
  border-radius: 2px;
}

button:hover {
  background-color: #00646e;
}

.ideaForm {
  width: 100%;
}

@media (min-width: 768px) {
  .ideaForm {
    width: 40vw;
  }
}

.ideaForm input {
  width: 100%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.attachFileIcon {
  background-image: url("https://res.cloudinary.com/nthnh/image/upload/v1557750626/ideaBox/baseline-create_new_folder-24px_vjlsfj.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 1.5rem;
}

.inputfile + label {
  color: #40aaaa;
  border: 0;
  border-radius: 2px;
}

.padding-left-15 {
  padding-left: 1.5rem;
}

.margin-left-15 {
  margin-left: 1.5rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #00646e;
}

.ideaFormButton {
  width: 12rem;
}
/*# sourceMappingURL=App.css.map */