* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainColor: #00646e;
$textBlack: #879baa;
$subBlue: #40aaaa;
$secBlue: #50bfd8;
$validBlue: #50bebe;
$notValidgrey: #c7ced7;
$notValidText: #beced7;
$rejectedRed: #af235f;
$headerBlackText: #000000;
$bodytext: #262626;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $bodytext;
}
// Defining variables for media queries
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$xl-desktop: 1200px;

@mixin mob {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin dsk {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin xl-dsk {
  @media (min-width: #{$xl-desktop}) {
    @content;
  }
}

h2 {
  color: $mainColor;
}

.colorWhite {
  color: #ffffff;
}
.main-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include tab() {
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2);
  }
}

.headBar {
  margin-top: 3rem;
  width: 100vw;
}

.headBar button {
  width: 50%;
  height: 70px;
}

.disabled {
  background-color: white;
  border: 1px solid $mainColor;
  color: $mainColor;
}

.filteringMIdeas {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.filteringMIdeas button {
  border: none;
  width: 25%;
}

.searchFieldMDashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.flexed-div {
  display: flex;
}
.flexed-col {
  flex-direction: column;
}
.verticalCenter {
  align-items: center;
}
.spacedBetween {
  justify-content: space-between;
}
.flexed-end {
  justify-content: flex-end;
}
.flexed-center {
  justify-content: center;
}
.textCenter {
  text-align: center;
}
.selfJustifyLeft {
  align-self: flex-start;
}

.login-box {
  width: 100%;
  @include tab() {
    width: 40%;
  }
}
.full-height-width {
  height: 100vh;
  width: 100vw;
}

.fullHeightWidth {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid $subBlue;
  padding: 1rem 1rem;
  border-radius: 2px;
  margin: 2rem 0;
}
input:focus {
  outline: none !important;
  border: 1px solid $mainColor;
}
textarea {
  border: 1px solid $subBlue;
  padding: 1rem 1rem;
  border-radius: 2px;
  margin: 2rem 0;
}
textarea:focus {
  outline: none !important;
  border: 1px solid $mainColor;
}

.signupForm {
  width: 100vw;
  padding: 1.5rem;
  @include tab() {
    width: 40vw;
  }
}

.signupForm input {
  width: 100%;
}
h1 {
  color: $mainColor;
}
button {
  text-transform: uppercase;
  background-color: $subBlue;
  color: white;
  padding: 1rem;
  border: 0;
  border-radius: 2px;
}
button:hover {
  background-color: rgb(0, 100, 110);
}

// Dashboard --> I'm sorry Theresa
.dashboardBanner {
  height: 70vh;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 100, 110, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://res.cloudinary.com/nthnh/image/upload/v1557880962/ideaBox/764202_siemens-wallpaper_dgzpwj.jpg");
  // background-image: url("https://res.cloudinary.com/nthnh/image/upload/v1557880962/ideaBox/764202_siemens-wallpaper_dgzpwj.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filterButton1.inactive  {
  color: grey;
}

.filterButton2.inactive  {
  color: grey;
}

.filterButton3.inactive  {
  color: grey;
}

.filterButton4.inactive  {
  color: grey;
}

.filterButton1.active   {
  color: $mainColor
}

.filterButton2.active   {
  color: $mainColor
}

.filterButton3.active   {
  color: $mainColor
}

.filterButton4.active   {
  color: $mainColor
}

.bannerButtonsDiv {
  // height: 8rem;
  justify-content: center;
  align-items: center;
}
.bannerButtons {
  width: 50%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerButtons:hover {
  background-color: #00646e;
  color: #ffffff;
}
.bannerButtons.active {
  background-color: #00646e;
  color: #ffffff;
}
.bannerButtons.active:hover {
  background-color: $subBlue;
}
.bannerButtons.active h2 {
  color: white;
}
.bannerButtons.inactive:hover {
  background-color: $subBlue;
}
.bannerButtons.inactive {
  background-color: #ffffff;
  color: #00646e;
}
.flexed-wrap {
  flex-wrap: wrap;
}
.bannerContentCont {
  height: calc(80vh - (147px));
  justify-content: center;
  align-items: center;
}
.bannerContent {
  width: 100%;
  @include mob() {
    width: 50%;
  }
}
.down-arrow {
  border-color: black transparent;
  border-style: solid;
  border-width: 20px 20px 0px 20px;
  height: 0px;
  width: 0px;
}
// Manager Dashboard
.subButtons {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $subBlue;
}
.greenBorder {
  border: 1px solid $subBlue;
}

.managerIdeaCard {
  width: 100%;
  padding: 8rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid $subBlue;
  position: relative;
  @include tab() {
    width: 45%;
  }
  @include dsk() {
    width: 32%;
  }
}
.nbannerCont {
  position: absolute;
  top: 1.5rem;
  right: 0;
}
.notificationBanner {
  background: $subBlue;
  display: flex;
  color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
}
.notificationBanner:before {
  border-right: 17.5px solid $subBlue;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  content: "";
  height: 0;
  left: -17.5px;
  position: absolute;
  top: 0px;
  width: 0;
}

//ideaCards
.ideaCard {
  border: 1px solid $subBlue;
  border-radius: 1rem;
  padding: 4rem 6rem;
  // height: 30rem;
}
.ideaCard p {
  margin-top: 1.5rem;
}
.managerIdeaCard p {
  margin-top: 1.5rem;
}
.ideaCard img {
  margin-top: 1.5rem;
}
.progressCircles {
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  border-radius: 50px;
  background: $mainColor;
  display: inline-block;
  color: white;
  position: relative;
}

.progressCircles::before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: -6em;
  width: 6em;
  height: 0.3em;
  background: $mainColor;
  z-index: -1;
}

.progressCircles:first-child::before {
  display: none;
}

.activeStat {
  background: $mainColor;
}

.activeStat ~ .progressCircles {
  background: $secBlue;
}

.activeStat ~ .progressCircles::before {
  background: $secBlue;
}

// ideaForm

.ideaForm input {
  width: 100%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.attachFileIcon {
  background-image: url("https://res.cloudinary.com/nthnh/image/upload/v1557750626/ideaBox/baseline-create_new_folder-24px_vjlsfj.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 1.5rem;
}

.inputfile + label {
  color: #40aaaa;
  border: 0;
  border-radius: 2px;
}

.padding-left-15 {
  padding-left: 1.5rem;
}

.margin-left-15 {
  margin-left: 1.5rem;
}
.margin-left-30 {
  margin-left: 3rem;
}
.margin-top-15 {
  margin-top: 1.5rem;
}
.margin-top-30 {
  margin-top: 3rem;
}
.margin-bot-30 {
  margin-bottom: 3rem;
}
.marginBelowNavbar {
  margin-top: 75px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  color: #00646e;
}

.ideaFormButton {
  width: 12rem;
}
.col-50 {
  width: 100%;
  @include tab() {
    width: 50%;
  }
}
.col-40 {
  width: 100%;
  @include tab() {
    width: 40%;
  }
}
.col-45 {
  width: 100%;
  @include tab() {
    width: 45%;
  }
}
.width-100 {
  width: 100vw;
}

.creatable {
  border: 1px solid $subBlue !important;
  border-radius: 2px;
}
// Idea Form

.login {
  justify-content: center;
}
// Landing Page
.landingPage {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 100, 110, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://res.cloudinary.com/nthnh/image/upload/v1557939252/ideaBox/764261_siemens-wallpaper_rfdltg.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingPageFont {
  font-size: 3rem;
  color: $subBlue;
}
.landingPage button {
  width: 8rem;
}
.spacedEvenly {
  justify-content: space-evenly;
}
// Landing Page

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: flex-end;
  height: 5rem;
  margin-bottom: -3rem;
}

.navBarLogo img {
  margin: 1rem;
}
.navBarList {
  display: flex;
}
.alignedCenter {
  align-items: center;
}
.navBarList img {
  width: 24px;
  height: 24px;
}
.snavBarLinks {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  color: $subBlue;
}

.allLinks {
  text-decoration: none;
  color: inherit;
}
.allLinks:hover {
  color: $subBlue;
}

.navBarLinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.navBarLinks a  {
  text-decoration: none;
}

.navBarIcons {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBarIcons img {
  margin-bottom: 0.5rem;
  width: 1.5rem;
  height: 2rem;
}

// Employee Dashboard

.submittedIdeas {
  width: 100vw;
  height: 80px;
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
}

.submittedIdeasBox {
  width: 50vw;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.challengePres {
  width: inherit;
  height: 26.8rem;
  background-image: url("./1187329.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.challengePresInnerDiv {
  width: 60rem;
  height: 26.8rem;
  display: flex;
  flex-direction: row;
}
.challengePresKata {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengePresTitleBtns {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.challengePresTitle {
  width: inherit;
  height: 150px;
  display: flex;
  /* justify-content: center;  */
  align-items: center;
}

.challengePresBtns {
  width: inherit;
  height: 150px;
  display: flex;
  /* justify-content: center;  */
  align-items: center;
}

.challengePresBtns button {
  margin-right: 40px;
}

.discoverIdeas {
  height: 12.5rem;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.relatedIdeas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.relatedIdeasBox {
  width: 45%;
  height: 21.6rem;
  margin: 2.5%;
  border-radius: 10px;
  border: 1px solid $mainColor;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.relatedIdeasBoxInnerDiv {
  width: 70%;
  margin: 10%;
}

.relatedIdeasBoxInnerDiv h4 {
  margin-bottom: 1.5rem;
}

.relatedIdeasBoxStatus {
  margin: 1.5rem 0;
}

.relatedIdeasBoxVotes {
  display: flex;
}

.relatedIdeasBoxComments {
  margin-left: 1rem;
}

.relatedIdeasBoxThumbsUp {
  width: 1rem;
  height: 1rem;
  background-image: url("https://res.cloudinary.com/dpcx0po55/image/upload/v1557762758/IdeaBox/like_giijkj.png");
}

.relatedIdeasBoxVotes img {
  width: 1rem;
  height: 1rem;
}

// Manager Dashboard

.ideasContainer {
  height: max-content;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.mDashboardIdeaBox {
  width: 19rem;
  height: 26rem;
  margin-right: 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mDashboardIdeaBoxTagOuterDiv {
  width: inherit;
  height: 2.8rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 1rem;
}

.mDashboardIdeaBoxTag {
  width: 7rem;
  height: 2.8rem;
  background-color: lightblue;
  color: white;
}

.mDashboardIdeaBoxContent {
  width: 14.8rem;
  height: 20rem;
  margin-top: 1rem;
}

.mDashboardIdeaBoxText {
  width: inherit;
  height: 10.6rem;
}

.mDashboardIdeaBox h2 {
  margin-bottom: 1rem;
}

.mDashboardIdeaBoxStatus {
  width: inherit;
  height: 3rem;
}

.mDashboardIdeaBoxVotesComments {
  width: inherit;
  height: 3rem;
  display: flex;
  flex-direction: row;
  color: $mainColor;
}

.mDashboardIdeaBoxVotes {
  margin-right: 2rem;
}

// Public idea view
.single-idea-public-col {
  width: 50vw;
  height: 305px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-idea-public-col-left {
  background-color: #aeeae8;
  position: relative;
}
.single-idea-public-col-right {
  background: linear-gradient(to right, $secBlue, #3f87a6);
  color: #fff;
}
.specifications-single-idea-public {
  color: $textBlack;
  font-size: 14px;
}
.single-idea-public-inline {
  display: inline-block;
  margin-left: 5px;
}
.single-idea-public-comment-box {
  border: 2px solid $notValidgrey;
  padding: 10px;
}
.single-idea-public-comment-box h4 {
  padding: 5px;
  color: $mainColor;
}
.upvotes {
  color: $notValidgrey;
}

#triangle-right {
  width: 0;
  height: 0;

  border-top: 152.5px solid transparent;
  // Height
  border-left: 5vw solid #aeeae8;
  border-bottom: 152.5px solid transparent;
  position: absolute;
  top: 0px;
  left: 49.5vw;
}

//Idea Detail
.idea-detail-bottom h2 {
  padding-top: 1.5rem;
}
