@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
}

h2 {
  color: #00646e;
}

.main-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .main-container {
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2);
  }
}

.headBar {
  margin-top: 3rem;
  width: 100vw;
}

.headBar button {
  width: 50%;
  height: 70px;
}

button:disabled {
  background-color: white;
  border: 1px solid #00646e;
  color: #00646e;
}

.filteringMIdeas {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.filteringMIdeas button {
  border: none;
  width: 25%;
}

.searchFieldMDashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.flexed-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexed-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-box {
  width: 100%;
}

@media (min-width: 768px) {
  .login-box {
    width: 40%;
  }
}

.full-height-width {
  height: 100vh;
  width: 100vw;
}

.fullHeightWidth {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  border: 1px solid #00646e;
  padding: 1rem 1rem;
  border-radius: 2px;
  margin: 2rem 0;
}

input:focus {
  outline: none !important;
  border: 2px solid #00646e;
}

.signupForm {
  width: 100vw;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .signupForm {
    width: 40vw;
  }
}

.signupForm input {
  width: 100%;
}

button {
  text-transform: uppercase;
  background-color: #00646e;
  color: white;
  padding: 1rem;
  border: 0;
  border-radius: 2px;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  margin-bottom: -3rem;
}

.navBarLogo {
  margin: 1rem;
}

.navBarLinks {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0.5rem;
}

.navBarLinks a  {
  text-decoration: none;
}

.navBarIcons {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBarIcons img {
  margin-bottom: 0.5rem;
  width: 1.5rem;
  height: 2rem;
}

.submittedIdeas {
  width: 100vw;
  height: 80px;
  background-color: darkgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.submittedIdeasBox {
  width: 50vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.challengePres {
  width: inherit;
  height: 26.8rem;
  background-image: url("./1187329.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.challengePresInnerDiv {
  width: 60rem;
  height: 26.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.challengePresKata {
  width: 30%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challengePresTitleBtns {
  width: 50%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.challengePresTitle {
  width: inherit;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center;  */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challengePresBtns {
  width: inherit;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center;  */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challengePresBtns button {
  margin-right: 40px;
}

.discoverIdeas {
  height: 12.5rem;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relatedIdeas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relatedIdeasBox {
  width: 45%;
  height: 21.6rem;
  margin: 2.5%;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relatedIdeasBoxInnerDiv {
  width: 80%;
  background-color: lightgray;
  margin: 5%;
}

.relatedIdeasBoxInnerDiv p {
  margin: 1.5rem 0;
}

.relatedIdeasBoxVotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2rem;
}

.relatedIdeasBoxVotes img {
  width: 1.5rem;
  height: 1.5rem;
}

.ideasContainer {
  width: 52rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mDashboardIdeaBox {
  width: 19rem;
  height: 26rem;
  margin-right: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mDashboardIdeaBoxTagOuterDiv {
  width: inherit;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
}

.mDashboardIdeaBoxTag {
  width: 7rem;
  height: 2.8rem;
  background-color: lightblue;
  color: white;
}

.mDashboardIdeaBoxContent {
  width: 14.8rem;
  height: 20rem;
  margin-top: 1rem;
}

.mDashboardIdeaBoxText {
  width: inherit;
  height: 10.6rem;
}

.mDashboardIdeaBox h2 {
  margin-bottom: 1rem;
}

.mDashboardIdeaBoxStatus {
  width: inherit;
  height: 3rem;
}

.mDashboardIdeaBoxVotesComments {
  width: inherit;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #00646e;
}

.mDashboardIdeaBoxVotes {
  margin-right: 2rem;
}

.single-idea-public-col {
  width: 50vw;
  height: 305px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-idea-public-col-left {
  background-color: #AEEAE8;
  position: relative;
}

.single-idea-public-col-right {
  background: -webkit-gradient(linear, left top, right top, from(#50bfd8), to(#3f87a6));
  background: linear-gradient(to right, #50bfd8, #3f87a6);
  color: #fff;
}

.specifications-single-idea-public {
  color: #879baa;
  font-size: 14px;
}

.single-idea-public-inline {
  display: inline-block;
  margin-left: 5px;
}

.single-idea-public-comment-box {
  border: 2px solid #c7ced7;
  padding: 10px;
}

.single-idea-public-comment-box h4 {
  padding: 5px;
  color: #00646e;
}

.upvotes {
  color: #c7ced7;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 152.5px solid transparent;
  border-left: 5vw solid #AEEAE8;
  border-bottom: 152.5px solid transparent;
  position: absolute;
  top: 0px;
  left: 49.5vw;
}

.idea-detail-bottom h2 {
  padding-top: 1.5rem;
}
/*# sourceMappingURL=App.css.map */